.title {
  background-color: black;
  color: violet;
  padding:15px ;
}
p {
  color: blueviolet;
  padding: 02px;
 }
.cor {
  color: rgb(228, 85, 109);
  padding: 02px;

 }
h2 {
  color: chocolate;
 }
